<!-- product-list.component.html -->
<div *ngIf="!(loading$ | async)">
  <h2>Product List</h2>
  <button [routerLink]="['/product-form']">Add New Product</button>
  
  <div *ngFor="let product of products$ | async">
    <p>{{ product.title }} - {{ product.price | currency }}</p>
    <button [routerLink]="['/product-form', product.id]">Edit</button>
    <button (click)="deleteProduct(product.id)">Delete</button>
    <button [routerLink]="['/checkout']" (click)="prepareCheckout(product)">Checkout</button>
  </div>
</div>